doctype
html(lang=config.language)
    head
        include head
        style.
          img {
              border-radius: 9px;
              -webkit-border-radius: 9px;
              -moz-border-radius: 9px;
              }
    body
        .wrap
            header
                a.logo-link(href=url_for())
                    img(src=theme.logo)
                include nav
            section.container
                block container
            footer
                block pagination
                block copyright
        include scripts
